#parse("base.html") #@mainLayout()
<div class="center-single-item">
<h1 class="title">Choose your pizza</h1>
</div>
<div>
  <form action="order" method="post">
    <div id="item">
      <div class="row-container">
        <div class="form-style">
          <p class="title">Select pizza</p>
          <div class="custom-select">
            <select onchange="test(this)" class="select-css" name="pizza">
              <option key="$p.getTitle()" value="">
                Please choose an option
              </option>
              #foreach ($p in $pizzaList)
              <option onclick="test()" class="testing" value="$velocityCount">
                $p.getTitle()
              </option>
              #end
            </select>
            <div id="pizza_image"></div>
          </div>
          <div id="add_zone"></div>
          <div class="center-single-item">
          <input  class="button button1" type="button" value="Ajouter plus de pizzas" onclick="addCode()"/>
        </div>
        </div>
        <div  class="form-style">
          <p class="title">Select panini</p>
          <div class="custom-select">
            <select class="select-css" name="panini">
              <option value="">Please choose an option</option>
              #foreach ($p in $paniniList)
              <option value="$velocityCount">$p.getTitle()</option>
              #end
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="center-single-item">
      <input class="button button1" type="submit" value="Valider la commande" />
    </div>
  </form>

  <!--<script type="text/javascript">-->

  <!--    document.getElementById("btn_valide").onclick = function(){-->
  <!--        console.log("onClick");-->
  <!--        const selection = document.getElementById("item").querySelectorAll("select");-->
  <!--        let value = "";-->
  <!--        selection.forEach(s => {value += s.value + ","});-->
  <!--        window.location = "/?action=create_order&value=" + value;-->
  <!--    };-->

  <!--</script>-->
  #end
</div>
