#parse("base.html")
#@mainLayout()
<h1>Home Template</h1>
<div>
    <form action="order" method="post">
        <div id="item">
            <div>
                <p>Select pizza</p>
                <select name="pizza">
                    <option value="">--Please choose an option--</option>
                    #foreach ($p in $pizzaList)
                    <option value="$velocityCount">
                        $p.getTitle()
                    </option>
                    #end
                </select>
            </div>
            <div>
                <p>Select panini</p>
                <select name="panini">
                    <option value="">--Please choose an option--</option>
                    #foreach ($p in $paniniList)
                    <option value="$velocityCount">
                        $p.getTitle()
                    </option>
                    #end
                </select>
            </div>
        </div>
        <input type="submit" value="Valider la commande">
    </form>
</div>
#end
